@font-face {
  font-family: Cormorant;
  src: url("./assets/fonts/cormorant/Cormorant-Light.ttf");
  font-weight: 200;
}
@font-face {
  font-family: Cormorant;
  src: url("./assets/fonts/cormorant/Cormorant-Regular.ttf");
  font-weight: 300;
}
@font-face {
  font-family: Cormorant;
  src: url("./assets/fonts/cormorant/Cormorant-SemiBold.ttf");
  font-weight: 400;
}
@font-face {
  font-family: Cormorant;
  src: url("./assets/fonts/cormorant/Cormorant-Bold.ttf");
  font-weight: 500;
}
@font-face {
  font-family: Cormorant;
  src: url("./assets/fonts/cormorant/Cormorant-Italic.ttf");
  font-style: italic;
}
@font-face {
  font-family: Poppins;
  src: url("./assets/fonts/poppins/Poppins-Thin.ttf");
  font-weight: 100;
}
@font-face {
  font-family: Poppins;
  src: url("./assets/fonts/poppins/Poppins-Light.ttf");
  font-weight: 200;
}
@font-face {
  font-family: Poppins;
  src: url("./assets/fonts/poppins/Poppins-Regular.ttf");
  font-weight: 300;
}
@font-face {
  font-family: Poppins;
  src: url("./assets/fonts/poppins/Poppins-SemiBold.ttf");
  font-weight: 400;
}
@font-face {
  font-family: Poppins;
  src: url("./assets/fonts/poppins/Poppins-Bold.ttf");
  font-weight: 500;
}
@font-face {
  font-family: Poppins;
  src: url("./assets/fonts/poppins/Poppins-Black.ttf");
  font-weight: 600;
}
body {
  margin: 0;
  padding: 0;
  font-family: Poppins;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1 {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
